@import '/UKRAINE/reset.css';
@import '/UKRAINE/normalize.css';
.block1{
    background-image: url(img/img.2bcg.png);
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    
}
#learnlanguage{
    color: #141414;
    text-align: justify;
    font-family: HeadlandOne;
    font-size: 32px;
    text-align: center;
}
#color{
    color: #94CFFF;
}
.water{
    padding-left: 204px;
    padding-right: 168px;
    padding-top: 39px;
    padding-bottom: 39px;
}
.block1 nav {
    display: flex;
    font-weight: 600;
    padding-right: 38px;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
}
.button{
    border: 1px solid #26C7EA;
    background-color: #0B0E66;
    color: #26C6EA;
    border-radius: 35px 0;
    width: 141px;
    height: 41.694px;
    margin-left: 250px;
    margin-right: 49px;
}
.switcher{
    display: flex;
}
.switcher a{
    color: #FFF;
text-align: center;
font-family: Hammersmith One;
font-size: 16px;
text-decoration: none;
margin-top: 6px;
}
.switch{
    border: 1px solid #FFFFFF;
    width: 36px;
    height: 20px;
    border-radius: 10px;
    margin: 0 10px;
    position: relative;
}
.slider{
position: absolute;
top: 0;
right: 0;
padding-left: 10px;
}
.slider::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    right: 2px;
    top: 2px;
}
.midsite{
    background-image: url(img/img.1avatar.png);
 background-size: cover;
 height: 740px;
 display: flex;
 justify-content: center;
}
.midsite p{
    width: 298px;
    height: 96px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
  
}
.language{
    padding-top: 180px;
}
.midsite{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img1,
img2{
   margin-bottom: 24px;
}

.button1{
    border: 1px solid #26C7EA;
    background-color: #0B0E66;
    border-radius: 45px 0;
    width: 260px;
  height: 80px;
    margin-top: 52px;
}
.button1 p{
    color: #26C7EA;
    text-align: center;
    font-family: HeadlandOne;
    font-size: 24px;
    width: 199px;
    margin: 10px 30px 10px 31px;
}

.qoute2{
    text-align: center;
   
}
.imgquote2{
    padding-left: 520px;
    padding-top: 10px;
}
#h1{
    color: #0A3853;
text-align: justify;
font-family: Inter;
font-size: 36px;
margin-left: 358px;
margin-top: 75px;
}
.phrase{
    color: #0A3853;
    text-align: justify;
    font-family: Inter;
    font-size: 36px;
    margin-left: 219px;
}
.author{
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
}
.block2{
    background-image: url(img/img.2avatar.png);
    background-size: cover;
    height: 741px;
}
.trailer{
    border: 1px solid #26C7EA;
    background-color: #0B0E66;
    color: #26C6EA;
    border-radius: 35px 0;
    text-decoration: none;
    color: #26C7EA;
    text-align: justify;
    font-family: HeadlandOne;
    font-size: 24px;
    margin-top: 355px;
    margin-left: 609px;
   padding: 25px 19px 25px 20px;
}
.quote3{
    text-align: center; 
}
.imgquote3{
    padding-bottom: 10px;
}
.phrase1{
    padding-top: 75px;
    color: #141414;
    text-align: justify;
    font-family: Inter;
    font-size: 36px;
    margin-left: 277px;
}
.phrase2{
    color: #141414;
    text-align: justify;
    font-family: Inter;
    font-size: 36px;
    margin-left: 456px;
}
.learnlanguages{
    background-image: url(img/img.3bcg.png);
    background-size: cover;
    height: 704px;
}
h3{
margin-left: 629px;
color: #141414;
text-align: justify;
font-family: HeadlandOne;
font-size: 32px;
}
.cards{
    margin-top: 143px;
    display: inline-grid;
grid-template-rows: 320px 320px 320px;
    justify-content: center;
    align-items: center;
}
.cardchild{
    margin: 27px 36px;
   display: inline-grid;
   justify-content: center;
   align-items: center;
    background-image: url(img/img.4bcg.png);
color: #141414;
text-align: justify;
font-family: HeadlandOne;
font-size: 24px;
width: 320px;
height: 240px;
}
.card img{
    width: 152px;
height: 40px;
}
.phrase3{
    color: #141414;
text-align: justify;
font-family: Inter;
font-size: 36px;
padding-top: 75px;
margin-left: 277px;
}
.phrase4{
    margin-left: 340px;
    color: #141414;
text-align: justify;
font-family: Inter;
font-size: 36px;
}
.imgfinall{
    padding-left: 519px;
    padding-bottom: 10px;
}
.finall2{
   background-image: url(img/img.5bcg.png);
   background-size: cover;
}
.finall2{
    display: flex;
}
.imgwater{
    padding-top: 77px;
    margin-left: 204px;
}
.line{
    padding-top: 35px;
    margin-left: 80px;
}
.dottedline{

    margin-left: 80px;
    color: #FFF;
text-align: justify;
font-family: Inter;
font-size: 20px;
}
.dottedline1{
    margin-left: 20px;
    margin-right: 20px;
}
.dottedline2{
    color: #FFF;
text-align: justify;
font-family: Inter;
font-size: 20px;
}
.dottedline4{
    color: #FFF;
text-align: justify;
font-family: Inter;
font-size: 20px;
}
.block5-email{
    display: flex;
    padding-top: 16px;
}
.block5-email1{
    display: flex;
    padding-top: 80px;
}
.finall2{
    display: flex;
}
.img2{
    padding-bottom: 27px;
}
.block5-email2{
    padding-top: 49px;
    padding-left: 211px;
    padding-bottom: 25px;
    color: #FFF;
text-align: justify;
font-family: Inter;
font-size: 14px;
}